.login__component {
    width: 35%;
    padding: 20px;
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 15%;
}
.login_header {
    font-size: 45px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}