table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 6px;
}
  
table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #f35555;
    color: white;
}