.user-list-doctor__component {
    width: 100%;
    display: flex;
    min-height: 70px;
    border-bottom: 1px solid darkgrey;
    padding: 14px 0;
    font-size: 12px;
    align-items: center;

    .avatar-name {
        width: 13%;
        display: flex;
        justify-content: revert;

        .css-2s90m6-MuiAvatar-root {
            font-size: 10px;
        }
        
        .name {
            margin-top: 5px;
        }
    }

    .email {
        width: 15%;
    }

    .mobile_number {
        width: 11%;
    }

    .gender,
    .blood_group {
        width: 8%;
    }

    .qualification,
    .doctor_category,
    .address {
        width: 13%;
    }

    .css-i4bv87-MuiSvgIcon-root {
        color: #000000;
        font-size: 22px;
    }
}

.user-list-patient__component {
    width: 100%;
    display: flex;
    min-height: 70px;
    border-bottom: 1px solid darkgrey;
    padding: 14px 0;
    font-size: 12px;
    align-items: center;

    .avatar-name {
        width: 13%;
        display: flex;
        justify-content: revert;

        .css-2s90m6-MuiAvatar-root {
            font-size: 10px;
        }
        
        .name {
            margin-top: 5px;
        }
    }

    .email {
        width: 15%;
    }

    .mobile_number {
        width: 11%;
    }

    .gender,
    .blood_group {
        width: 8%;
    }

    .date_of_birth,
    .admission_date,
    .address {
        width: 13%;
    }

    .css-i4bv87-MuiSvgIcon-root {
        color: #000000;
        font-size: 22px;
    }
}